{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	{{ form_start(form) }}

	{{ form_row(form.name) }}
	{{ form_row(form.quantity) }}
	{{ form_row(form.price) }}
	{{ form_row(form.weight) }}
	{{ form_row(form.ref) }}

	<button type="submit">Ajouter</button>
	{{ form_end(form) }}
{% endblock %}
